@using TP7.ViewModels
@model AltaPresupuestoViewModel

@if (ViewBag.ErrorMessage != null)
{
        <div class="error-message">
            <p>@ViewBag.ErrorMessage</p>
        </div>
}

<form asp-asp-controller="Presupuestos" asp-action="CrearPresupuesto" method="post" class="container mt-4">
    <div class="mb-3">
        <label for="IdCliente" class="form-label">Cliente</label>
        <select name="IdCliente" class="form-control" required>
            <option value="">Seleccione un cliente</option>
            @foreach (var cliente in (IEnumerable<SelectListItem>)ViewData["Clientes"])
            {
                <option value="@cliente.Value">@cliente.Text</option>
            }
        </select>
        <span asp-validation-for="IdCliente" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FechaCreacion" class="form-label">Fecha de Creación</label>
        <input asp-for="FechaCreacion" type="date" class="form-control" required/>
        <span asp-validation-for="FechaCreacion" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Presupuesto</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>


@section Scripts{<partial name="_ValidationScriptsPartial"/>}